<!DOCTYPE html>
<html ng-app="templateApp">

<head>
    <title>Template AngularJS Project</title>
    <link rel="stylesheet" type="text/css" href="">
</head>

<body ng-controller="appCtrl">
    <h1>Hai {{name}}</h1>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- <script type="text/javascript" src="scripts/libraries/angular.min.js"></script> -->
    <script type="text/javascript" src="scripts/app.js"></script>
</body>

</html>
